**
!deploy/
!deploy/runpod/
!deploy/runpod/Dockerfile
!services/
!services/inference/
!services/inference/pyproject.toml
!services/inference/uv.lock
!services/inference/model-manifest.json
!services/inference/THIRD_PARTY_NOTICES.md
!services/inference/licenses/
!services/inference/licenses/**
!services/inference/src/
!services/inference/src/**
!.local/
!.local/vodoco-models/
!.local/vodoco-models/release/
!.local/vodoco-models/release/**
**/__pycache__/
**/*.pyc
**/.env
**/.env.*
**/*.pem
**/*.key
**/training_args.bin
**/optimizer.pt
